<div class="box-outer pb-0">
    <div class="pb-3">
        <h1 class="title title--h1 title__separate">Historial</h1>
    </div>

    <!-- Experience -->
    <h2 class="title title--h2"><span class="box box--s2 icon-box"><i
                class="font-icon feathericon-book-open"></i></span>Educación</h2>
    <div class="timeline">
        <!-- Item -->
        <article class="timeline__item">
            <h5 class="title title--h4 timeline__title">Universidad Mariano Gálvez de Guatemala</h5>
            <span class="timeline__period">ene 2020 - jun 2021</span>
            <p class="timeline__description">3er Semestre de Licenciatura de Administración de Empresas.</p>
        </article>

        <!-- Item -->
        <article class="timeline__item">
            <h5 class="title title--h4 timeline__title">Centro de Desarrollo Educativo "San José", Guatemala</h5>
            <span class="timeline__period">ene 2016 - nov 2018</span>
            <p class="timeline__description">Bachillerato en Computación con Orientación Comercial</p>
        </article>
    </div>

    <h2 class="title title--h2"><span class="box box--s2 icon-box"><i
                class="font-icon feathericon-briefcase"></i></span>Experiencia Laboral</h2>
    <div class="timeline">
        <!-- Item -->
        <article class="timeline__item">
            <h5 class="title title--h4 timeline__title">Desarrolladora Web - Independiente</h5>
            <span class="timeline__period">feb 2023 - presente</span>
            <ul class="timeline__description">
                <li>Desarrollo y mantenimiento de aplicaciones web utilizando Node.js y Angular. </li>
                <li>Conocimiento de los lenguajes de programación frontend como: JavaScript, HTML, CSS, TypeScript</li>
                <li>Diseño de bases de datos utilizando MySQL y MariaDB, optimización de consultas y administración de
                    datos.</li>
                <li>Optimización de aplicaciones para un rendimiento óptimo y una experiencia de usuario excepcional.
                </li>
                <li>Desarrollo de interfaces de usuario interactivas y atractivas utilizando Angular.</li>
            </ul>
        </article>

        <!-- Item -->
        <article class="timeline__item">
            <h5 class="title title--h4 timeline__title">PRE-PRODUCTION</h5>
            <h6 class="title title--h4 timeline__title">Golden Green GT, Guatemala, S.A</h6>
            <span class="timeline__period">sep 2021 - feb 2023</span>
            <ul class="timeline__description">
                <li>
                    Encargada de la supervisión de diferentes procesos de realización y cumpliento para las muestras
                    TOP, informes y toma de decisiones.
                </li>
                <li>
                    Supervisión de procesos de laboratorio para testing, preparación de documentos para auditorias de
                    Nordstrom y Tommy Hilfiger.
                </li>
                <li>
                    Elaboración de Strike Off, Washed Leg, Lab Dips para aprovaciones de Clientes.
                </li>
                <li>
                    Requisiciones, control, envío y manejo de Proto Sample, Fits, PP Sample (muestras confeccionadas
                    para aprovaciones de los clientes).
                </li>
                <li>
                    Implementación de procesos para la producción (QC Files, Hojas de medidas, Formatos, Reportes)
                    clasificación y organización.
                </li>
                <li>
                    Encargada de la preparación y envío de diferentes muestras de importancia, realización de Packing
                    List y seguimiento del paquete.
                </li>
                <li>
                    Encargada de controlar rutas, fletes, pagos y cálculo de Kilometrajes.
                </li>
            </ul>
        </article>

        <!-- Item -->
        <article class="timeline__item">
            <h5 class="title title--h4 timeline__title">Store Advisor</h5>
            <h6 class="title title--h4 timeline__title">Distribuidora Central de Comunicaciones, S.A -CONCESA</h6>
            <span class="timeline__period">feb 2021 - sep 2021</span>
            <ul class="timeline__description">
                <li>
                    Atención al cliente en Agencia Tigo Oakland Mall. Identificar las necesidades del cliente, aclarar
                    la información, investigar el problema y brindar soluciones y/o alternativas para la resolución de
                    los mismos.
                </li>
                <li>
                    Convencimiento y cierre de Ventas.
                </li>
                <li>
                    Manejo de herramientas, sitios webs y procesos internos de la empresa.
                </li>
                <li>
                    Cumplir satisfactoriamente y superar los objetivos cualitativos y cuantitativos estipulados por la
                    empresa (Encuestas a clientes, metas por ventas, experiencia del cliente).
                </li>
            </ul>
        </article>

        <article class="timeline__item">
            <h5 class="title title--h4 timeline__title">Recepcionista/Asistente de Merchandising</h5>
            <h6 class="title title--h4 timeline__title">O-Tex, S.A</h6>
            <span class="timeline__period">oct 2020 - ene 2021</span>
            <ul class="timeline__description">
                <li>
                    Elaboración de Strike Off, Washed Leg, Lab Dips para aprovaciones de Clientes.
                </li>
                <li>
                    Requisiciones, control, envío y manejo de Proto Sample, Fits, PP Sample (muestras confeccionadas
                    para aprovaciones de los clientes).
                </li>
                <li>
                    Encargada de la realización de cotizaciones, bases de datos, control de rutas de piloto,
                    clasificación y organización de documentos, encargada de recepción y envío de paquetes.
                </li>
                <li>
                    Atención de llamadas telefónicas.
                </li>
                <li>
                    Brindar atención a los visitantes de la empresa, realización de reportes y control de papelería.
                </li>
                <li>
                    Realización y envío de muestras de tela a clientes y proveedores.
                </li>
            </ul>
        </article>

        <article class="timeline__item">
            <h5 class="title title--h4 timeline__title">Atención al cliente y Community Manager</h5>
            <h6 class="title title--h4 timeline__title">Centro de Estudios Artísticos -CEA, Guatemala, S.A</h6>
            <span class="timeline__period">ene 2019 - oct 2020</span>
            <ul class="timeline__description">
                <li>
                    Encargada de la gestión y desarrollo online de la empresa.
                </li>
                <li>
                    Servicio al cliente, convencimiento y cierre de ventas.
                </li>
                <li>
                    Asistente personal del Cantante y Músico guatemalteco, Napoleón Robleto.
                </li>
                <li>
                    Elaboración de estrategias, seguimiento de cartera y post venta.
                </li>
                <li>
                    Elaboración de base de datos de los alumnos ingresados.
                </li>
                <li>
                    Balances y reportes de caja chica.
                </li>
                <li>
                    Cobros, elaboración de inscripciones y control de agenda.
                </li>
                <li>
                    Cobros, elaboración de inscripciones y control de agenda.
                </li>
                <li>
                    Trámites bancarios básicos (pagaré, finiquitos, vales, depósitos, cheques...)
                </li>
            </ul>
        </article>
    </div>

    <h2 class="title title--h2"><span class="box box--s2 icon-box"><i
        class="font-icon feathericon-book-open"></i></span>Cursos</h2>
<div class="timeline">
<!-- Item -->
<article class="timeline__item">
    <h5 class="title title--h4 timeline__title">Acádemia Europea - Inglés</h5>
    <span class="timeline__period">nov 2021</span>
    <p class="timeline__description">Curso de Inglés Básico a Intermedio</p>
</article>

<!-- Item -->
<article class="timeline__item">
    <h5 class="title title--h4 timeline__title">Next U - Community Manager</h5>
    <span class="timeline__period">may 2019</span>
    <p class="timeline__description">Curso de 5 módulos de forma virtual, dónde aprendí a: </p>
    <ul class="timeline__description">
        <li>Generar contenido orgánico de calidad para las redes.</li>
        <li> Identificar el potencial de las redes sociales como canal de venta.</li>
        <li>Programar contenido para ser el nexo entre el público y el negocio.</li>
    </ul>
</article>
</div>
</div>
<div class="back-to-top"></div>