<div class="box-outer" *ngIf="proyecto">
  <!-- About -->
  <div class="pb-3">
    <h1 class="title title--h1">Portafolio</h1>
    <h2 class="title title--h2 title__separate">{{proyecto.nombre}}</h2>
  </div>

  <!-- Project details -->
  <a class="btn-back" routerLink="../"><i class="feathericon-arrow-left"></i>Regresar</a>

  <header class="header-project">
    <h1 class="title title--h1">{{proyecto.nombre}}</h1>
    <div class="header-project__image-wrap">
      <img class="cover lazyload" [src]="proyecto.image" alt="" />
    </div>
  </header>

  <ul class="details-info details-info--inline">
    <!-- Client -->
    <!-- <li class="details-info__item">
      <span class="box box--s2 icon-box"><i class="font-icon feathericon-user"></i></span>
      <div class="details-info__info">
        <span class="overhead">Client</span>
        ArtTemplate
      </div>
    </li> -->
    <!-- Category -->
    <li class="details-info__item">
      <span class="box box--s2 icon-box"><i class="font-icon feathericon-layers"></i></span>
      <div class="details-info__info">
        <span class="overhead">Categoria</span>
        {{proyecto.categoria.nombre}}
      </div>
    </li>
    <!-- Date -->
    <li class="details-info__item">
      <span class="box box--s2 icon-box"><i class="font-icon icon-calendar"></i></span>
      <div class="details-info__info">
        <span class="overhead">Url</span>
        <a [href]="proyecto.url" target="_blank"> {{proyecto.url}} </a>
      </div>
    </li>
  </ul>

  <p>{{proyecto.descripcion}}</p>

  <div class="swiper-container js-carousel-project">
    <div class="swiper-wrapper project-gallery">
      <!-- Item -->
      <figure *ngFor="let g of proyecto.galeria" class="swiper-slide swiper-slide-project">
        <a id="first" title="click to zoom-in" [href]="'../assets/images/proyectos/' + proyecto.slug + '/' + g" data-size="1920x1080">
          <img class="lazyload" [src]="['../assets/images/proyectos/'  + proyecto.slug + '/' + g]" alt="" />
        </a>
      </figure>

    </div>
    <div class="swiper-pagination"></div>
  </div><!-- /swiper-container -->
</div>