<div class="pb-0 pb-sm-2">
  <h1 class="title title--h1 title__separate">Sobre Mi</h1>
  <p style="text-align: justify">
    Profesional FullStack comprometida con la excelencia en el desarrollo software.</p>
  <p style="text-align: justify">Mi enfoque se centra en construir soluciones que satisfacen las necesidades del usuario
    final.
    He trabajado en entornos de servicio al cliente, lo que me ha brindado una perspectiva única sobre las expectativas
    y requisitos de los usuarios. <br>
    Mi enfoque se centra en la eficiencia del código, la seguridad y la creación de experiencias de usuario.
    Comprometida con la mejora continua y la actualización constante en las últimas tendencias del
    desarrollo web.
  </p>
</div>

<!-- What -->
<h2 class="title title--h2 mt-3">Actualemnte me dedico</h2>
<div class="row">
  <!-- Case Item -->
  <div class="col-12 col-lg-6">
    <div class="case-item box box--s2 box-inner">
      <img class="case-item__icon" src="assets/icons/icon-design.svg" alt="" />
      <div>
        <h3 class="title title--h3">Diseño Web</h3>
        <p class="case-item__caption" style="text-align: justify;">Proficiente en el uso de tecnologías como HTML, CSS,
          y JavaScript, para desarrollar
          diseños modernos y responsivos. Especializada en la creación de interfaces intuitivas y estéticamente
          agradables para el gusto de cada cliente.
        </p>
      </div>
    </div>
  </div>

  <!-- Case Item -->
  <div class="col-12 col-lg-6">
    <div class="case-item box box--s2 box-inner">
      <img class="case-item__icon" src="assets/icons/icon-dev.svg" alt="" />
      <div>
        <h3 class="title title--h3">Desarrollo Web (Softwares)</h3>
        <p class="case-item__caption">Creación y mantenimiento de aplicaciones web eficientes utilizando
          tecnologías backend como Node.js, Express, MariaDB y bases de datos SQL y NoSQL. Capaz de trabajar en entornos
          de desarrollo
          full stack, utilizando tecnologías frontend como Angular, TypeScript, Vue.js, y JavaScript, implementando
          soluciones escalables y funcionales.
        </p>
      </div>
    </div>
  </div>

  <!-- Case Item -->
  <div class="col-12 col-lg-6">
    <div class="case-item box box--s2 box-inner">
      <img class="case-item__icon" src="assets/icons/icon-app.svg" alt="" />
      <div>
        <h3 class="title title--h3">Apps Móviles</h3>
        <p class="case-item__caption">Desarrollador con experiencia en la creación de apps
          móviles atractivas y fáciles de usar para plataformas como iOS y Android.</p>
      </div>
    </div>
  </div>
</div>

<!-- Skills -->
<h2 class="title title--h2 mt-3">Habilidades</h2>
<div class="box box--s2 box-inner mb-0">
  <!-- Web Design -->


  <!-- Web Design -->
  <div class="row">
    <div class="col-6">
      <div class="progress">
        <div class="progress-text"><span>Front-End: Angular, React, Vue.js</span> 90%</div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="90" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Back-End: Node.js</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <!-- Web Design -->
      <div class="progress">
        <div class="progress-text"><span>Base de Datos MySQL y NoSQL</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Base de Datos MariaDB</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Control de Versiones: Git</span> </div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Metodologías: Desarrollo Ágil</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

    </div>
    <div class="col-6">
      <div class="progress">
        <div class="progress-text"><span>Worpress</span> 95%</div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="95" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Atención al Cliente</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="90" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Ventas</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="85" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Planificación y Logística</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="95" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Trabajo en equipo</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

      <div class="progress">
        <div class="progress-text"><span>Herramientas: Visual Studio Code</span></div>
        <div class="progress-bar"><span role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100"></span>
        </div>
      </div>

    </div>
  </div>


</div>

<!-- Testimonials -->
<!-- <div class="testimonials">
  <h2 class="title title--h2 mt-3">Recomendaciones</h2> -->

  <!-- <div class="swiper-container js-carousel-review">
    <div class="swiper-wrapper"> -->
      <!-- Item review -->
      <!-- <div class="swiper-slide review-item box box--s2 box-inner js-open-review" data-mfp-src="#review-1"
        data-effect="mfp-zoom-out">
        <figure class="box box-avatar box-avatar--not-border">
          <img src="assets/images/avatar-1.png" alt="Daniel Lewis">
        </figure>
        <h4 class="title title--h3">Valerin Saban</h4>
        <p class="review-item__caption">Programador Full Stack.</p>
      </div> -->

      <!-- Item review -->
      <!-- <div class="swiper-slide review-item box box--s2 box-inner js-open-review" data-mfp-src="#review-2"
        data-effect="mfp-zoom-out">
        <figure class="box box-avatar box-avatar--not-border">
          <img src="assets/images/avatar-2.png" alt="Daniel Lewis">
        </figure>
        <h4 class="title title--h3">Jessica Miller</h4>
        <p class="review-item__caption">Thanks to the skill of Ricardo, we have a design that we can be proud
          of. We are impressed with...</p>
      </div> -->

      <!-- Item review -->
      <!-- <div class="swiper-slide review-item box box--s2 box-inner js-open-review" data-mfp-src="#review-3"
        data-effect="mfp-zoom-out">
        <figure class="box box-avatar box-avatar--not-border">
          <img src="assets/images/avatar-3.png" alt="Daniel Lewis">
        </figure>
        <h4 class="title title--h3">Emily Evans</h4>
        <p class="review-item__caption">Ricardo did a miracle with my website. It looks exactly as I imagined
          it. Now I have a profession...</p>
      </div> -->

      <!-- Item review -->
      <!-- <div class="swiper-slide review-item box box--s2 box-inner js-open-review" data-mfp-src="#review-4"
        data-effect="mfp-zoom-out">
        <figure class="box box-avatar box-avatar--not-border">
          <img src="assets/images/avatar-4.png" alt="Daniel Lewis">
        </figure>
        <h4 class="title title--h3">Henry William</h4>
        <p class="review-item__caption">Thank you very much for your work on our project. It was a big help
          for us. Thanks to the...</p>
      </div>
    </div> -->
<!-- 
    <div class="swiper-pagination"></div>
  </div>
</div> -->

<!-- Clients -->
<h2 class="title title--h2 mt-4">Clients</h2>
<div class="swiper-container js-carousel-clients">
  <div class="swiper-wrapper">
    <!-- Item client -->
    <figure class="swiper-slide">
      <a href="#"><img class="logo-client" src="assets/images/clients/logo-1-color.png" alt="Logo" /></a>
    </figure>

    <!-- Item client -->
    <figure class="swiper-slide">
      <a href="#"><img class="logo-client" src="assets/images/clients/logo-2-color.png" alt="Logo" /></a>
    </figure>

    <!-- Item client -->
    <figure class="swiper-slide">
      <a href="#"><img class="logo-client" src="assets/images/clients/logo-3-color.png" alt="Logo" /></a>
    </figure>

    <!-- Item client -->
    <figure class="swiper-slide">
      <a href="#"><img class="logo-client" src="assets/images/clients/logo-4-color.png" alt="Logo" /></a>
    </figure>

    <!-- Item client -->
    <figure class="swiper-slide">
      <a href="#"><img class="logo-client" src="assets/images/clients/logo-5-color.png" alt="Logo" /></a>
    </figure>

    <!-- Item client -->
    <figure class="swiper-slide">
      <a href="#"><img class="logo-client" src="assets/images/clients/logo-6-color.png" alt="Logo" /></a>
    </figure>
  </div>

  <div class="swiper-pagination"></div>
</div><!-- /swiper-container -->


<div class="back-to-top"></div>

<!-- Full review 1 -->
<!-- <div id="review-1" class="popup mfp-hide mfp-with-anim">
  <div class="row">
    <div class="col-12 col-sm-2 full-rewiew-con-avatar">
      <figure class="box box-avatar box-avatar--not-border">
        <img src="assets/images/avatar-1.png" alt="Daniel Lewis">
      </figure>
      <div class="review-icon-quote"></div>
    </div>
    <div class="col-12 col-sm-10 full-rewiew-con-text">
      <h2 class="title title--h2 mb-1">Daniel Lewis</h2>
      <span class="review-date">14 June, 2021</span>
      <p>Ricardo was hired to create a corporate identity. We were very pleased with the work done. She has a lot of
        experience and is very concerned about the needs of client.
        Lorem ipsum dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor incididunt
        ut laborels dolore magnarels alia.</p>
      <p>Ut enim ad nesid utminim veniam, quis nostrud eiusmo exercitation ullamco labori is amco commodo consequat seds
        eiusmod. Adipisicing velit eu eiusmod nisi ad nulla.
        Magna deserunt ipsum pariatur sunt incididunt culpa cupidatat. Pariatur occaecat enim dolor culpa nisi ea
        eiusmod do qui culpa consectetur laboris eiusmod anim.</p>
    </div>
  </div>
</div> -->

<!-- Full review 2 -->
<!-- <div id="review-2" class="popup mfp-hide mfp-with-anim">
  <div class="row">
    <div class="col-12 col-sm-2 full-rewiew-con-avatar">
      <figure class="box box-avatar box-avatar--not-border">
        <img src="assets/images/avatar-2.png" alt="Daniel Lewis">
      </figure>
      <div class="review-icon-quote"></div>
    </div>
    <div class="col-12 col-sm-10 full-rewiew-con-text">
      <h2 class="title title--h2 mb-1">Jessica Miller</h2>
      <span class="review-date">14 June, 2021</span>
      <p>Ricardo was hired to create a corporate identity. We were very pleased with the work done. She has a lot of
        experience and is very concerned about the needs of client.
        Lorem ipsum dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor incididunt
        ut laborels dolore magnarels alia.</p>
      <p>Ut enim ad nesid utminim veniam, quis nostrud eiusmo exercitation ullamco labori is amco commodo consequat seds
        eiusmod. Adipisicing velit eu eiusmod nisi ad nulla.
        Magna deserunt ipsum pariatur sunt incididunt culpa cupidatat. Pariatur occaecat enim dolor culpa nisi ea
        eiusmod do qui culpa consectetur laboris eiusmod anim.</p>
    </div>
  </div> -->
<!-- </div> -->

<!-- Full review 3 -->
<!-- <div id="review-3" class="popup mfp-hide mfp-with-anim">
  <div class="row">
    <div class="col-12 col-sm-2 full-rewiew-con-avatar">
      <figure class="box box-avatar box-avatar--not-border">
        <img src="assets/images/avatar-3.png" alt="Daniel Lewis">
      </figure>
      <div class="review-icon-quote"></div>
    </div>
    <div class="col-12 col-sm-10 full-rewiew-con-text">
      <h2 class="title title--h2 mb-1">Emily Evans</h2>
      <span class="review-date">14 June, 2021</span>
      <p>Ricardo was hired to create a corporate identity. We were very pleased with the work done. She has a lot of
        experience and is very concerned about the needs of client.
        Lorem ipsum dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor incididunt
        ut laborels dolore magnarels alia.</p>
      <p>Ut enim ad nesid utminim veniam, quis nostrud eiusmo exercitation ullamco labori is amco commodo consequat seds
        eiusmod. Adipisicing velit eu eiusmod nisi ad nulla.
        Magna deserunt ipsum pariatur sunt incididunt culpa cupidatat. Pariatur occaecat enim dolor culpa nisi ea
        eiusmod do qui culpa consectetur laboris eiusmod anim.</p>
    </div>
  </div>
</div> -->

<!-- Full review 4 -->
<!-- <div id="review-4" class="popup mfp-hide mfp-with-anim">
  <div class="row">
    <div class="col-12 col-sm-2 full-rewiew-con-avatar">
      <figure class="box box-avatar box-avatar--not-border">
        <img src="assets/images/avatar-4.png" alt="Daniel Lewis">
      </figure>
      <div class="review-icon-quote"></div>
    </div>
    <div class="col-12 col-sm-10 full-rewiew-con-text">
      <h2 class="title title--h2 mb-1">Henry William</h2>
      <span class="review-date">14 June, 2021</span>
      <p>Ricardo was hired to create a corporate identity. We were very pleased with the work done. She has a lot of
        experience and is very concerned about the needs of client.
        Lorem ipsum dolor sit amet, ullamcous cididt consectetur adipiscing elit, seds do et eiusmod tempor incididunt
        ut laborels dolore magnarels alia.</p>
      <p>Ut enim ad nesid utminim veniam, quis nostrud eiusmo exercitation ullamco labori is amco commodo consequat seds
        eiusmod. Adipisicing velit eu eiusmod nisi ad nulla.
        Magna deserunt ipsum pariatur sunt incididunt culpa cupidatat. Pariatur occaecat enim dolor culpa nisi ea
        eiusmod do qui culpa consectetur laboris eiusmod anim.</p>
    </div>
  </div>
</div> -->