<main class="main">
  <div class="container gutter-top gutter-bottom">
    <div class="row sticky-parent">
      <!-- Sidebar -->
      <aside class="col-12 col-md-12 col-xl-3">
        <div class="sidebar box-outer sticky-column">
          <!-- My photo -->
          <div class="sidebar__base-info">
            <figure class="avatar-box">
              <img src="assets/images/foto_3.jpg" alt="Odalys Barillas">
            </figure>

            <div class="text-xl-center">
              <h3 class="title title--h3 sidebar__name">Odalys Barillas</h3>
              <div class="badge">Desarrolladora Web</div>
            </div>

            <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>Show Contacts</span><i
                class="feathericon-chevron-down"></i></button>
          </div>

          <div class="sidebar__additional-info js-show">
            <div class="separation"></div>
            <ul class="details-info">
              <!-- Email -->
              <li class="details-info__item">
                <span class="box box--s2 icon-box"><i class="font-icon icon-envelope"></i></span>
                <div class="contacts-block__info">
                  <span class="overhead">Correo</span>
                  <a class="text-overflow" href="mailto:odalysbarillas46&#64;gmail.com?subject=Cotizacion%20Sitio%20Web&body=Hola,%20Odalys!%20Estoy%20interesado/a%20en%20contatar%20tus%20servicios%20https%3A%2F%2Fodalysbarillas.github.io"
                    title="odalysbarillas46&#64;gmail.com" target="_blank" rel="noopener">odalysbarillas46&#64;gmail.com</a>
                </div>
              </li>
              <!-- Phone -->
              <li class="details-info__item">
                <span class="box box--s2 icon-box"><i class="font-icon icon-phone"></i></span>
                <div class="contacts-block__info">
                  <span class="overhead">Teléfono</span>
                  <a class="text-overflow" title="+502 3312-6974" href="tel:+502 33126974">+502 3312-6974</a>
                </div>
              </li>
              <!-- Birthday -->
              <li class="details-info__item">
                <span class="box box--s2 icon-box"><i class="font-icon icon-calendar"></i></span>
                <div class="contacts-block__info">
                  <span class="overhead">Fecha de Nacimiento</span>
                  <span class="text-overflow" title="03/02/2000">03/02/2000</span>
                </div>
              </li>
              <!-- Location -->
              <li class="details-info__item">
                <span class="box box--s2 icon-box"><i class="font-icon icon-location"></i></span>
                <div class="contacts-block__info">
                  <span class="overhead">Direccion</span>
                  <span class="text-overflow" title="Ciudad de Guatemala">Ciudad de Guatemala</span>
                </div>
              </li>
            </ul>
            <div class="separation d-xl-none"></div>

            <!-- Social -->
            <div class="social">
              <a class="social__link" target="_blank" href="https://www.facebook.com/odalismishell.ortegarosales?mibextid=kFxxJD"><i class="feathericon-facebook"></i></a>
              <a class="social__link" target="_blank" href="https://www.instagram.com/odalysbarillas_?igsh=YzVkODRmOTdmMw%3D%3D&utm_source=qr"><i class="feathericon-instagram"></i></a>
            </div>
          </div>
        </div>
      </aside>

      <!-- Content -->
      <div class="col-12 col-md-12 col-xl-9">
        <div class="box-outer">
          <!-- Menu -->
          <div class="nav-container">
            <ul class="nav" >
              <li class="nav__item"><a class="nav-link" routerLinkActive="active" routerLink="sobre-mi">Sobre Mi</a></li>
              <li class="nav__item"><a class="nav-link" routerLinkActive="active" routerLink="historial">Historial</a></li>
              <li class="nav__item"><a class="nav-link" routerLinkActive="active" routerLink="portafolio">Portfolio</a></li>
              <li class="nav__item"><a class="nav-link" routerLinkActive="active" routerLink="contacto">Contactáme</a></li>
            </ul>
          </div>
          <router-outlet></router-outlet>
        </div><!-- box-outer -->
      </div><!-- Content -->
    </div><!-- sticky-parent -->
  </div><!-- container -->
</main>

<div class="back-to-top"></div>
    
	